NEXT_PUBLIC_SUPABASE_URL=https://djjiwecqjlaigtrtjkkp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_I3XhMO9KwO3cg825jbn8_w_a2DF0-9_
SUPABASE_URL=https://djjiwecqjlaigtrtjkkp.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_I3XhMO9KwO3cg825jbn8_w_a2DF0-9_
SUPABASE_SECRET_KEY=your_secret_key_here
SUPABASE_JWKS_URL=https://djjiwecqjlaigtrtjkkp.supabase.co/auth/v1/.well-known/jwks.json
